.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15vh;
}

.form {
  display: flex;
  border-radius: 15px;
  background-color: #15172b;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  color: #fff;
}
